@import url('https://fonts.googleapis.com/css? family=WorkSans&display=swap');

@mixin root {
  
        --background: #EEEEEE;
    
}

:root{
    @include root;
}


@mixin general {

        box-sizing: border-box;   
}

*, *::before, *::after{

    @include general;
}

@mixin body{

        margin: 0;
        font-family: 'WorkSans', sans-serif;
        background: var(--background);
          
}

.badi {
    @include body;
}


@mixin headerstyles {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

header {
    
    @include headerstyles;
}

@mixin logostyle {

    margin: 1rem;
    font-size: 1.5rem;

}

.logo {

    @include logostyle;

    a{
        text-decoration: none;
        font-weight: bold;
        color: #333333;
    }
}

@mixin navcontainer {

    position: absolute;
    text-align: left;
    top: 100%;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top ;
    transition: transform 400ms ease-in-out;
    // left: 0;
}

nav {

    @include navcontainer;

}

@mixin navul {

    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

nav ul {

    @include navul;

}

@mixin navli {

   margin-bottom: 1em;
   margin-left: 1em;
    
}

nav li {

    @include navli;

}

@mixin nava {
    
    text-decoration: none;
    color: #555555;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
 

    &:hover {

        color: #DC5F00;
    }
     
 }
 
 nav a {
 
     @include nava;
 
 }

 @mixin navigationtoggle {
    
    &:checked ~ nav{

        transform: scale(1, 1);
    }

    &:checked ~ nav a {

        opacity: 1;
        transition: opacity 250ms ease-in-out 300ms;
    }
    display: none;
     
 }
 
.nav-toggle {
 
     @include navigationtoggle;
 
 }

 
 @mixin navigationtogglelabel {
    
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1em;
    margin-top: 0.70em;
    font-size: 1.5em;
    color: #555555;
   
 }
 
.nav-toggle-label {
 
     @include navigationtogglelabel;
 
 }

 @mixin screensize{

    .nav-toggle-label {
        display: none;
    }

    header {

        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        
    }

    .logo {
        grid-column: 2/ 3;
    }

    nav {

        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
    }

    nav ul {

        display: flex;
    }

    nav li {

        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {

        opacity: 1;
        position: relative;
    }

 }

 @media screen and (min-width: 800px) {

    @include screensize();
 }

@mixin forfooter {

    background: var(--background);
    color: #555555;
    bottom: 0;
    width: 100%;
    min-height: 5%;
    // position: fixed;
    text-align: center;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
    
    
}

.foot {

    @include forfooter();
}



@mixin content {

    text-align: center;
   
    color: #333333;
    padding-top: 15rem;

    h1 {
        font-weight: bold;
        font-size: 4rem;
    }
    .hire {
        font-size: 2rem;
        padding-bottom: 10rem;
    }

    
    @media screen and (max-width: 48rem){

        h1 {

            display: inline-block;
            font-size: 2rem;
            
            }
        
        .hire {

            display: block;
            font-size: 1rem;
            padding-bottom: 4rem;
        }

    }

    .firstarticle, .secarticle{
        margin-bottom: 2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .wrap-container-card{
            display: flex;
            justify-content: center;
            .row-card{
                border-radius: 10px;
                display: flex;
                background-color: lightgrey;
                &:hover{
                    border-radius: 10px;
                    background-color: darkgray;
                }
            }
            .card-body{
                h5 {
                    color: #555555;
                }
            }
            .column-card-one{
                width: 16rem;
                height: auto;
            }
        }

    }
    .firstarticle{
        .column-card-two{
            width: 16rem;
            margin-left: auto;
            margin-right: auto;
            .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                height: 100%;
            }
        }
    }
    .secarticle{
        .column-card-two{
            width: 16rem;
            margin-left: auto;
            margin-right: auto;
            .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                height: 100%;
                width: 100%;
                h5{
                    margin-left: 10rem;
                    margin-bottom: 5rem;
                    width: 100%;   
                }
            }
        }
    }

    @media only screen and (min-width: 1020px){
        .secarticle {
            padding-top: 4rem;
        }
        .firstarticle, .secarticle {
            .wrap-container-card {
                display: flex;
                justify-content: center;
                width: 80%;
                margin-left: auto;
                margin-right: auto;   
            }
            .row-card{
                display: flex;    
                background-color: lightgray;
            }
            .column-card-one {
                width: 35rem !important;
                height: auto;
            }
            .card-body {
                margin: auto;
                padding: auto;
                h5 {
                    color: #555555;
                }
                span {
                    
                    text-decoration: none;
                    color: #555555;
                    font-size: 1rem;
                }
                .card-title {
    
                    display: inline
                }
                span {
                    display: block;
                }
            }
            .card-title {
        
                margin: 0;
                padding: 0;
                width: 5rem;
            }
        }
    
        
    .firstarticle{
        .column-card-two{
            width: 35rem !important;
            .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                height: 100%;
            }
        }
    }
    
    .secarticle{
        .column-card-two{
            width: 35rem !important;
            .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                height: 100% !important;
            }
            h5{
                margin-left: 0 !important;
            }
        }
    }
    
    
        
    }
 
}



.primary-content {

    @include content();
}




//for text format dont mind

@mixin textsecarticle {

    @media  screen and (max-width: 48rem) {
        position: relative;
        right: 35%;
        top: 30px;
        font-size: 0.95rem;
    }
  
}

.secarticle .card-title {

    @include textsecarticle();
}

@mixin textsecarticle {

    @media  screen and (max-width: 48rem) {

        font-size: 0.95rem;
    }
  
}

.firstarticle .card-title {

    @include textsecarticle();
}


//for hover dont mind
@mixin hovercontent {

    &:hover{

        background-color: black;
        opacity: 0.7;
        .column-card-two {
            color: darkgray;
        }
    }
}

.primary-content .row-card{


    @include hovercontent();
}


