@import url("https://fonts.googleapis.com/css? family=WorkSans&display=swap");
body {
  margin: 0;
  font-family: "WorkSans", sans-serif;
  background: var(--background);
  font-family: "WorkSans", sans-serif;
}
body .container {
  padding-top: 10rem;
}
body .container h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 4rem;
}
body .container .wrapper-proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
body .container .wrapper-proj .container-overlay {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
}
body .container .wrapper-proj .container-overlay:hover {
  opacity: 1;
}
body .container .wrapper-proj .container-overlay .overlay {
  border-radius: 10px;
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: lightgray;
}
body .container .wrapper-proj .container-overlay .overlay:hover {
  opacity: 1;
  z-index: -100;
}
body .container .wrapper-proj .container-overlay img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  z-index: -300;
}
body .container .wrapper-proj .container-overlay .text {
  width: 100%;
  color: #555555;
  font-size: 15px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
body .container .wrapper-proj .container-overlay .text-two {
  color: #555555;
  font-size: 15px;
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
body .container .wrapper-proj .container-overlay .text-three {
  color: white;
  font-size: 0.5em;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
body .container .wrapper-proj .container-overlay .text-three a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1020px) {
  body .container {
    padding-top: 12rem;
    padding-bottom: 10rem;
  }
  body .container h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 8rem;
    font-weight: bold;
  }
  body .container .wrapper-proj {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: row;
    height: auto;
  }
  body .container .wrapper-proj .container-overlay {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
  }
  body .container .wrapper-proj .container-overlay:hover {
    opacity: 1;
  }
  body .container .wrapper-proj .container-overlay .overlay {
    border-radius: 10px;
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: lightgray;
  }
  body .container .wrapper-proj .container-overlay .overlay:hover {
    opacity: 1;
    z-index: -100;
  }
  body .container .wrapper-proj .container-overlay img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    z-index: -300;
  }
  body .container .wrapper-proj .container-overlay .text {
    width: 100%;
    color: #555555;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body .container .wrapper-proj .container-overlay .text-two {
    color: #555555;
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body .container .wrapper-proj .container-overlay .text-three {
    color: white;
    font-size: 1em;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body .container .wrapper-proj .container-overlay .text-three a {
    text-decoration: none;
    color: white;
  }
}/*# sourceMappingURL=project.css.map */